// /*------------------------------------*\
//         #ALERT
// \*------------------------------------*/

$styles-alert                       : true;

// base
$alert-padding                      : em(12);
$alert-border                       : 1px solid;
$alert-margin                       : 0 0 rem(16);

// types
$alert-success-bg                   : palette(elephant-base);
$alert-success-color                : $brand-secondary-text ;
$alert-success-border-color         : palette(elephant-base, dark);

$alert-info-bg                      : palette(elephant-base);
$alert-info-color                   : $brand-secondary-text ;
$alert-info-border-color            : palette(elephant-base, dark);

$alert-warning-bg                   : palette(elephant-base);
$alert-warning-color                : $brand-secondary-text ;
$alert-warning-border-color         : palette(elephant-base, dark);

$alert-error-bg                     : palette(elephant-base);
$alert-error-color                  : $brand-secondary-text ;
$alert-error-border-color           : palette(elephant-base, dark);

$dark-blue-color: #00558D;
$default-blue-color: #0071BC;
$light-blue-color: #338DC9;

$dark-orange-color: #BF7700;
$default-orange-color: #FF9E00;
$light-orange-color: #FFB133;
$lightest-orange-color: #FFE099;

$black-color: #242428;
$darkest-grey-color: #484951;
$darker-grey-color: #6C6D79;
$dark-grey-color: #9091A1;
$default-grey-color: #A6A7B4;

$light-grey-color: #D3D3D9;
$lighter-grey-color: #E9E9EC;
$lightest-grey-color: #FBFBFB;
$white-color: white;



// /*------------------------------------*\
//         #BANNER
// \*------------------------------------*/

$styles-banner                      : false;

// base
$banner-item-padding                : 0 1%;
$banner-align                       : center;





// /*------------------------------------*\
//         #BREADCRUMB
// \*------------------------------------*/

$styles-breadcrumb                  : true;

// base
$breadcrumb-item-margin             : rem(4);
$breadcrumb-item-icon               : ' » ';





// /*------------------------------------*\
//         #BUTTON
// \*------------------------------------*/

$styles-button                      : true;

// base
$button-font-size                   : em(15);
$button-font-weight                 : normal;
$button-events                      : true;
$button-padding                     : rem(10) rem(18);
$button-transition                  : background-color $transition-duration $transition-timing;
$button-radius                      : 0;
$button-border                      : 1px solid;
$button-text-decoration             : none;
$button-group-lateral-margin        : rem(6);
$button-group-vertical-margin       : rem(6);

// types
$button-primary-bg                  : palette(titanium-base);
$button-primary-color               : $brand-primary-text;
$button-primary-border              : $button-border;
$button-primary-border-color        : palette(titanium-base, dark);

$button-secondary-bg                : palette(elephant-base);
$button-secondary-color             : $brand-secondary-text;
$button-secondary-border            : 1px solid;
$button-secondary-border-color      : palette(elephant-base, dark);

$button-disabled-bg                 : palette(elephant-base, light);
$button-disabled-color              : #aaaaaa;
$button-disabled-border             : $button-border  ;
$button-disabled-border-color       : palette(elephant-base);

// events
$button-primary-bg-hover            : palette(titanium-base, light);
$button-primary-bg-active           : palette(titanium-base, light);
$button-primary-color-hover         : $button-primary-color;
$button-primary-border-color-hover  : none;

$button-secondary-bg-hover          : palette(elephant-base, light);
$button-secondary-bg-active         : palette(elephant-base, light);
$button-secondary-color-hover       : none;
$button-secondary-border-color-hover: none;





// /*------------------------------------*\
//         #DROPDOWN
// \*------------------------------------*/

$styles-dropdown                    : true;

// base
$dropdown-padding                   : rem(0);
$dropdown-font-size                 : em(14);
$dropdown-item-font-weight          : normal;
$dropdown-item-padding              : 1em;
$dropdown-transition                : background-color $transition-duration $transition-timing;
$dropdown-item-transition           : background-color $transition-duration $transition-timing;

// format
$dropdown-bg-color                  : white;
$dropdown-item-color                : $brand-secondary-text;
$dropdown-item-bg-color             : palette(elephant-base);
$dropdown-item-lead-bg-color        : darken($dropdown-item-bg-color, 15%);
$dropdown-item-selected-color       : white;
$dropdown-item-selected-bg-color    : palette(titanium-base);

// events
$dropdown-item-hover-bg-color       : palette(elephant-base, dark);
$dropdown-item-active-bg-color      : palette(elephant-base, light);
$dropdown-submenu-bg-color          : palette(elephant-base, light);





// /*------------------------------------*\
//         #FORM
// \*------------------------------------*/

$styles-form                        : true;

// base
$input-font-size                    : em(14);
$input-padding                      : rem(10);
$input-margin-bottom                : rem(12);
$input-border-radius                : 3px;
$input-border-style                 : 1px solid;

// format
$input-bg-color                     : black;
$input-border-color                 : palette(elephant-base, dark);
$input-color                        : $darkest-grey-color;
$input-border                       : $input-border-style $input-border-color;

// events
$input-color-focus                  : $body-color;
$input-bg-color-focus               : $lightest-orange-color;
$input-border-color-focus           : palette(titanium-base, light);

// warnings
$msg-font-size                      : em(12);
$msg-font-weight                    : bold;
$msg-base-color                     : #dddddd;

// icons
$input-icon-color                   : palette(titanium-base);
$input-icon-position                : right;
$input-icon-width                   : em(32, $input-font-size);
$input-icon-height                  : em(32, $input-font-size);
$input-icon-padding-right           : em(40, $input-font-size);





// /*------------------------------------*\
//         #ICON
// \*------------------------------------*/

$styles-icon                        : true;

// colors
$icon-color                         : $brand-primary-text;
$icon-color-variant                 : $brand-secondary-text;

// size
$icon-size-svg                      : rem(28);

// text
$icon-text-padding                  : rem(30);





// /*------------------------------------*\
//         #MODAL
// \*------------------------------------*/

$styles-modal                       : true;
$modal-backdrop-bg                  : rgba(51, 51, 51, 0.75);

// base
$modal-position                     : center;
$modal-max-width                    : 60%;
$modal-dialog-padding               : rem(10);
$modal-inner-padding                : rem(20);
$modal-content-border-radius        : initial;

// format
$modal-content-bg                   : white;





// /*------------------------------------*\
//         #NAVIGATION
// \*------------------------------------*/

$styles-navigation                  : true;

// base
$nav-fixed-x                        : (top, 0);
$nav-fixed-y                        : (left, 0);
$nav-font-size                      : em(14);
$nav-item-font-weight               : normal;
$nav-padding                        : rem(0);
$nav-item-padding                   : rem(16);
$nav-menu-transition                : background-color $transition-duration $transition-timing;
$nav-submenu-transition             : background-color $transition-duration $transition-timing;

// format
$nav-bg-color                       : transparent;
$nav-item-color                     : $brand-primary-text;
$nav-item-bg-color                  : palette(titanium-base);
$nav-item-lead-bg-color             : palette(titanium-base, dark);
$nav-item-selected-color            : $brand-secondary-text;
$nav-item-selected-bg-color         : palette(elephant-base);

// events
$nav-item-hover-bg-color            : palette(titanium-base, dark);
$nav-item-active-bg-color           : palette(titanium-base, light);
$nav-submenu-bg-color               : palette(titanium-base, light);





// /*------------------------------------*\
//         #PAGINATOR
// \*------------------------------------*/

$styles-paginator                   : true;

$paginator-padding                  : rem(0);
$paginator-font-size                : em(14);
$paginator-item-font-weight         : normal;
$paginator-item-padding             : rem(16);
$paginator-transition               : background-color $transition-duration $transition-timing;

// format
$paginator-bg-color                 : transparent;
$paginator-item-color               : $brand-primary-text;
$paginator-item-bg-color            : palette(titanium-base);
$paginator-item-selected-color      : $brand-secondary-text;
$paginator-item-selected-bg-color   : palette(elephant-base);

// events
$paginator-item-hover-bg-color      : palette(titanium-base, dark);
$paginator-item-active-bg-color     : palette(titanium-base, dark);





// /*------------------------------------*\
//         #PANEL
// \*------------------------------------*/

$styles-panel                       : true;

// general
$panel-border                       : 1px solid #E2E2E2;
$panel-dropdown-close-color         : $icon-color;

// title
$panel-title-font-size              : em(16);
$panel-title-padding                : rem(12);
$panel-title-color                  : $brand-primary-text;
$panel-title-bg-color               : palette(titanium-base);
$panel-title-transform              : uppercase;

// content
$panel-content-font-size            : em(14);
$panel-content-padding              : rem(12);
$panel-content-color                : palette(titanium-base);
$panel-content-bg-color             : white;

// dropdown
$panel-dropdown-close-rotate        : 90deg;
$panel-dropdown-close-rotate-hover  : -90deg;





// /*------------------------------------*\
//         #SPINNER
// \*------------------------------------*/

$styles-spinner                     : true;

// base
$spinner-font-size                  : em(10);
$spinner-size                       : em(60);
$spinner-speed                      : 0.6s;

// format
$spinner-color                      : palette(titanium-base);
$spinner-backdrop-bg                : rgba(255, 255, 255, 0.75);





// /*------------------------------------*\
//         #TAB
// \*------------------------------------*/

$styles-tab                         : true;

// base
$tab-item-font-size                 : em(13);
$tab-item-padding                   : rem(16);
$tab-content-padding                : rem(16);
$tab-content-font-size              : em(14);
$tab-content-width                  : 70%;
$tab-block-width                    : 30%;

// format
$tab-transition                     : background-color $transition-duration $transition-timing;
$tab-item-bg-color                  : palette(titanium-base);
$tab-item-color                     : $brand-primary-text;
$tab-item-text-decoration           : none;
$tab-item-lead-bg-color             : palette(titanium-base, dark);
$tab-item-selected-color            : $brand-secondary-text;
$tab-item-selected-bg-color         : $brand-secondary;
$tab-content-border                 : 1px solid $tab-item-selected-bg-color;
$tab-content-bg-color               : white;

//events
$tab-item-hover-color               : $tab-item-color;
$tab-item-hover-bg-color            : palette(titanium-base, dark);
$tab-item-active-bg-color           : palette(titanium-base, light);





// /*------------------------------------*\
//         #TABLE
// \*------------------------------------*/

$styles-table                       : true;

// base
$table-font-size                    : em(16);
$table-padding                      : rem(12);
$thead-align                        : left;
$tbody-align                        : left;
$tfoot-align                        : right;
$tfoot-font-size                    : em(13);
$thead-font-weight                  : bold;

// format
$thead-color                        : $brand-primary-text;
$thead-bg-color                     : palette(titanium-base);
$tfoot-bg-color                     : palette(elephant-base, light);
$tfoot-border-color                 : palette(elephant-base, dark);
$table-even-bg-color                : #ddd;
$table-odd-bg-color                 : #ccc;

// events
$table-hover-bg-color               : palette(elephant-base, light);
$table-hover-color                  : white;
$table-hover-transition             : none;





// /*------------------------------------*\
//         #TEXT
// \*------------------------------------*/

$styles-text                        : true;

// base
$h1-size                            : 24;
$h2-size                            : 22;
$h3-size                            : 20;
$h4-size                            : 19;
$h5-size                            : 17;
$h6-size                            : 16;
$text-size-base                     : 14;
$text-size-small                    : 12;
$text-size-medium                   : 16;
$text-size-large                    : 18;

// margin
$text-margin                        : em(16);
$text-style-list                    : disc;
