// /*------------------------------------*\
//         #ALERT
// \*------------------------------------*/

$styles-alert                       : true;

// base
$alert-padding                      : em(12);
$alert-border                       : 1px solid;
$alert-margin                       : 0 0 rem(16);

// types
$alert-success-bg                   : palette(elephant-base);
$alert-success-color                : $brand-secondary-text ;
$alert-success-border-color         : palette(elephant-base, dark);

$alert-info-bg                      : palette(elephant-base);
$alert-info-color                   : $brand-secondary-text ;
$alert-info-border-color            : palette(elephant-base, dark);

$alert-warning-bg                   : palette(elephant-base);
$alert-warning-color                : $brand-secondary-text ;
$alert-warning-border-color         : palette(elephant-base, dark);

$alert-error-bg                     : palette(elephant-base);
$alert-error-color                  : $brand-secondary-text ;
$alert-error-border-color           : palette(elephant-base, dark);

$dark-blue-color: #00558D;
$default-blue-color: #0071BC;
$light-blue-color: #338DC9;

$dark-orange-color: #BF7700;
$default-orange-color: #FF9E00;
$light-orange-color: #FFB133;
$lightest-orange-color: #FFE099;

$black-color: #242428;
$darkest-grey-color: #484951;
$darker-grey-color: #6C6D79;
$dark-grey-color: #9091A1;
$default-grey-color: #A6A7B4;

$light-grey-color: #D3D3D9;
$lighter-grey-color: #E9E9EC;
$lightest-grey-color: #FBFBFB;
$white-color: white;
